<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SPConsulta_Shine" value="SP_Facturacion_Listo_shien"/>
		<add key="SPConsulta_Walmart" value="SP_Facturacion_Listo_WM"/>
		<add key="SPConsulta_Walmart_T" value="SP_Facturacion_Listo_WM_TOTAL"/>
		<add key="SPConsulta_Liverpool" value="SP_Facturacion_Listo_LV"/>
		<add key="SPConsulta_Liverpool_T" value="SP_Facturacion_Listo_LV_TOTAL"/>
		<add key="SPConsulta_Elektra" value="SP_Facturacion_Listo_EK"/>
		<add key="SPConsulta_Coppel" value="SP_Facturacion_Listo_CP"/>
		<add key="SPConsulta_Jardimex" value="SP_Facturacion_Listo_JardiMex"/>
		<add key="SPConsulta_Centurfit" value="SP_Facturacion_Listo_Centurfit"/>
		<add key="SPConsulta_Gutstark" value="SP_Facturacion_Listo_Gutstark"/>
		<add key="SPConsulta_Nanofort" value="SP_Facturacion_Listo_Nanofort"/>
		<add key="SPConsulta_Audiotek" value="SP_Facturacion_Listo_Audiotek"/>
		<add key="SPConsulta_Little_Monkey" value="SP_Facturacion_Listo_LM"/>
		<add key="SPConsulta_Houzer" value="SP_Facturacion_Listo_Houzer"/>
		<add key="SPConsulta_Mercadazo" value="SP_Facturacion_Listo_Mercadazo"/>
		
		<add key="Parentkey" value=""/>
		<add key="ParentPassword" value=""/>
		<add key="key" value=""/>
		<add key="Password" value=""/>
		<add key="AccountNumber" value=""/>
		<add key="MeterNumber" value=""/>
		<add key="customerNumber" value=""/>
		<add key="customerPassword" value=""/>
		<!--<add key="CarpetaLog" value="/home/developers/Facturador/"/> -->
		<add key="CarpetaLog" value="C:\Users\MiguelLuna\source\repos\Facturador_por_dia\Facturador_por_dia\bin\Debug\net5.0"/> 
	</appSettings>

	<connectionStrings>
		<add name="db_conn" connectionString="server=merch-u.cluster-caynagpuph9t.us-east-2.rds.amazonaws.com; User Id=netcore_fac; password=A4@NI.GmWLQv; Persist Security Info=True; database=merchantu; Connection Timeout=10000; Allow Zero Datetime = True; sslmode=none" />
		<add name="db_conn_read" connectionString="server=merch-u-replica1.prod.cloud.mercadazo.com.mx; User Id=netcore_fac; password=A4@NI.GmWLQv; Persist Security Info=True; database=merchantu; Connection Timeout=10000; Allow Zero Datetime = True; sslmode=none" />
	</connectionStrings>
</configuration>